async-timeout==5.0.1
bitarray==3.8.0
bitstring==4.3.1
bleak==1.1.1
contourpy==1.3.2
cycler==0.12.1
enum-compat==0.0.3
fonttools==4.60.1
joblib==1.5.2
kiwisolver==1.4.9
matplotlib==3.10.7
muselsl==2.3.1
numpy==2.2.6
packaging==25.0
pandas==2.3.3
pexpect==4.9.0
pillow==12.0.0
ptyprocess==0.7.0
pygatt==5.0.0
pylsl==1.17.6
pyparsing==3.2.5
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
